* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App {
  width: 800px;
}

.post {
  display: flex;
  padding: 15px;
  border: 2px solid teal;
  margin-top: 15px;
  justify-content: space-between;
  align-items: center;
}

.post__btns {
  display: flex;
}

.post-enter {
  transform: translateX(350px);
}
.post-enter-active {
  transform: translateX(0px);
  transition: all 500ms ease-in;
}
.post-exit {
  opacity: 1;
}
.post-exit-active {
  transform: translateX(-350px);
  transition: all 500ms ease-in;
}

.page__wrapper {
  margin-top: 30px;
  display: flex;
}

.page {
  padding: 10px;
  border: 1px solid teal;
  cursor: pointer;
}

.page__current {
  border: 2px solid orange;
  font-weight: bold;
}

.navbar {
  height: 50px;
  width: 100vw;
  display: flex;
  align-items: center;
  padding: 0 15px;
  background: lightblue;
}

.navbar__links {
  margin-left: auto;
}
/* CargoIdItem */

.cargo-details {
  width: 800px;
  margin-top: 20px;
  padding: 20px;
  border: 2px solid teal;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.cargo-details h2 {
  margin-bottom: 10px;
}

.cargo-param {
  margin-top: 10px;
}

ul {
  list-style-type: disc;
  margin-left: 20px;
}

/* styles.css */
.delivery-details {
  width: 800px;
  margin-top: 20px;
  padding: 20px;
  border: 2px solid teal;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.delivery-details h2 {
  margin-bottom: 10px;
}

.delivery-param {
  margin-top: 10px;
}

.truck-info {
  margin-top: 15px;
  border-top: 2px solid teal;
  padding-top: 15px;
}

.truck-param {
  margin-top: 10px;
}

ul {
  list-style-type: disc;
  margin-left: 20px;
}

.user-details {
  width: 800px;
  padding: 20px;
  border: 2px solid teal;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.user-details h2 {
  margin-bottom: 10px;
}

.user-param {
  margin-top: 10px;
}

.create-cargo-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid teal;
  border-radius: 5px;
}

.create-cargo-container h2 {
  margin-bottom: 20px;
}

.create-cargo-container form {
  display: flex;
  flex-direction: column;
}

.create-cargo-container label {
  font-weight: bold;
  margin-bottom: 5px;
}

.create-cargo-container input,
.create-cargo-container select {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.create-cargo-button {
  background-color: teal;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.create-cargo-button:hover {
  background-color: darkcyan;
}
